<div>
  <label class="form-label">Upload Images</label>
  <input
    type="file"
    multiple
    accept="image/*"
    (change)="onFileSelected($event)"
    class="form-control"
  />
  <small class="text-muted">You can select multiple images.</small>

  <div class="col-12 mt-3" *ngIf="previewUrls.length > 0">
    <label class="form-label">New Image Preview:</label>
    <div class="image-preview-container">
      <div *ngFor="let url of previewUrls; let i = index" class="image-wrapper">
        <img [src]="url" alt="new-preview" />
        <button
          type="button"
          aria-label="Remove image"
          class="image-close-btn"
          (click)="removeSelectedImage(i)"
        >
          &times;
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 mt-3" *ngIf="existingImageUrls.length > 0">
    <label class="form-label">Existing Images:</label>
    <div class="image-preview-container">
      <div *ngFor="let url of existingImageUrls" class="image-wrapper">
        <img [src]="url" alt="existing-preview" />
        <button
          type="button"
          aria-label="Remove existing image"
          class="image-close-btn"
          (click)="removeExistingImage(url)">
          &times;
        </button>
      </div>
    </div>
  </div>
</div>
